*, *::before, *::after {
    box-sizing: border-box;
    /*Choose the font for the page*/
    font-family: 'Times New Roman', Times, serif;
}

/*pick a white background color*/
body {
    background-color: rgb(250, 249, 251)
}

#startBtn {
    width: 150px;
    max-height: 80%;
    /*Make it white to blend in with the background*/
    background-color: rgb(250, 249, 252);
    
    padding: 100px;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
}

.btnGrid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.btn {
    color: rgb(3, 2, 2);
    background-color: rgb(105, 15, 105);
    border-radius: 20px;
    padding: 20px 10px;
}

.btn:hover {
    background-color: rgb(197, 69, 197);
}

.btn.correct {
background-color: var(background-color-correct);
background-color: green;
color: black;
}

.btn.wrong {
    background-color: var(background-color-wrong);
    background-color: red;
    color: black;
}

.startBtn, .nextBtn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}
