*, *::before, *::after {
    box-sizing: border-box;
    /*Choose the font for the page*/
    font-family:Verdana, Geneva, Tahoma, sans-serif

}

body {
    background-color: rgb(245, 248, 248);
}
 
.question {
    font-size: 30px;
    margin-bottom: 50px;
}
 
.options {
    font-size: 30px;
    display:grid;
    grid-template-columns: repeat(1, 2fr);
    grid-gap: 20px;
}
 
button {
    margin-right: 10px;
    margin-top: 5%;
    font-size: 20px;
    padding: 10px 50px;
    background-color: #610c61;
    color: white;
    border-radius: 20px;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(197, 69, 197);
}

#score {
    font-size: 30px;
    color: rgb(29, 172, 31);
}